.course_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 14rem);
    
  }


.course .selected {
  background-color:lemonchiffon;
  color: green;
}

.course .unavailable{
  background-color:rgb(251, 245, 228);
  color: rgb(128, 0, 0);
}

